<a href="https://colab.research.google.com/github/Sinha123456/data_wrangling/blob/main/wrangle_analyze.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Wrangle and Analyze

In that project task we have to collect data from twitter website, In order to get data from the twitter we need to get Twitter API, therefore we can access data from the twitter website. In the real world data is messy, dirty and untidy, our task is to clean messy data, tidy data make easily visualization in all aspects.

In that project we are using **WeRateDog**s data. In that dataset, we will be wrangling (and analyzing and visualizing) is the tweet archive of Twitter user @dog_rates, also known as WeRateDogs. WeRateDogs is a Twitter account that rates people's dogs with a humorous comment about the dog. These ratings almost always have a denominator of 10. The numerators, though? Almost always greater than 10. 11/10, 12/10, 13/10, etc. Why? Because "they're good dogs Brent." WeRateDogs has over 4 million followers and has received international media coverage.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
import numpy as np
import os
import re
import requests
import tweepy
import datetime
import timeit
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [ ]:
consumer_key = ''
consumer_secret = ''
access_token = ''
access_secret = ''

auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_secret)

In [ ]:
tweet_enhance = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/udacity_projects/twitter-archive-enhanced.csv')

In [32]:
#reading tsv file and print few lines.
image_prediction = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/udacity_projects/image-predictions.tsv', delimiter= '\t')
#image_prediction = pd.DataFrame(image_prediction)
image_prediction.head()

             tweet_id  ... p3_dog
0  666020888022790149  ...   True
1  666029285002620928  ...   True
2  666033412701032449  ...   True
3  666044226329800704  ...   True
4  666049248165822465  ...   True

[5 rows x 12 columns]

In [ ]:
image = requests.get('https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg')

In [ ]:
# Extract tweet ids from twitter archive and make a list
api = tweepy.API(auth_handler=auth, 
                 parser=tweepy.parsers.JSONParser(),
                 wait_on_rate_limit=True, 
                 wait_on_rate_limit_notify=True)
# use a timer to indicate when the query of all of the tweet_id's is complete & how long it takes
from timeit import default_timer as timer
start = timer()
df_list = []
tweet_errors = []
tweet_id_list = tweet_enhance['tweet_id'].tolist()
for tweet_id in tweet_id_list:
    try:
        tweet = api.get_status(tweet_id, tweet_mode='extended')
        favorite = tweet['favorite_count']
        retweet = tweet['retweet_count']
        df_list.append({'tweet_id': int(tweet_id), 
                        'favorites': int(favorite), 
                        'retweets': int(retweet)})
                      
    except Exception as e:
        tweet_errors.append(tweet_id)
        print(str(tweet_id) + "_" + str(e))
                
end = timer()
print(end - start)

888202515573088257_[{'code': 144, 'message': 'No status found with that ID.'}]
873697596434513921_[{'code': 144, 'message': 'No status found with that ID.'}]
872668790621863937_[{'code': 144, 'message': 'No status found with that ID.'}]
872261713294495745_[{'code': 144, 'message': 'No status found with that ID.'}]
869988702071779329_[{'code': 144, 'message': 'No status found with that ID.'}]
866816280283807744_[{'code': 144, 'message': 'No status found with that ID.'}]
861769973181624320_[{'code': 144, 'message': 'No status found with that ID.'}]
856602993587888130_[{'code': 144, 'message': 'No status found with that ID.'}]
851953902622658560_[{'code': 144, 'message': 'No status found with that ID.'}]
845459076796616705_[{'code': 144, 'message': 'No status found with that ID.'}]
844704788403113984_[{'code': 144, 'message': 'No status found with that ID.'}]
842892208864923648_[{'code': 144, 'message': 'No status found with that ID.'}]
837366284874571778_[{'code': 144, 'message': 'No status found with that ID.'}]
837012587749474308_[{'code': 144, 'message': 'No status found with that ID.'}]
829374341691346946_[{'code': 144, 'message': 'No status found with that ID.'}]
827228250799742977_[{'code': 144, 'message': 'No status found with that ID.'}]
812747805718642688_[{'code': 144, 'message': 'No status found with that ID.'}]
802247111496568832_[{'code': 144, 'message': 'No status found with that ID.'}]
779123168116150273_[{'code': 144, 'message': 'No status found with that ID.'}]
775096608509886464_[{'code': 144, 'message': 'No status found with that ID.'}]
771004394259247104_[{'code': 179, 'message': 'Sorry, you are not authorized to see this status.'}]
770743923962707968_[{'code': 144, 'message': 'No status found with that ID.'}]
759566828574212096_[{'code': 144, 'message': 'No status found with that ID.'}]

WARNING:tweepy.binder:Rate limit reached. Sleeping for: 735

754011816964026368_[{'code': 144, 'message': 'No status found with that ID.'}]
680055455951884288_[{'code': 144, 'message': 'No status found with that ID.'}]

WARNING:tweepy.binder:Rate limit reached. Sleeping for: 734

1912.9758950469986

In [ ]:
import json
with open('df_list.txt','w') as outfile:
    json.dump(df_list, outfile)

In [ ]:
# with open('df_list.txt') as json_file:
#   data = json.load(json_file)
#   for i in data:
#     print(i)

# Read as dict object using json.loads
json_df = pd.read_table('df_list.txt', 
                       header=None,
                       converters={column: json.loads for column in [0]}
                      )
# Convert to list object
tweetlist = []
for i in range(len(json_df)):
    tweetlist.append(json_df[0][i])
# Convert to DataFrame object
json_df = pd.DataFrame(tweetlist)
json_df

                                                0     ...                                               2330
0  {'tweet_id': 892420643555336193, 'favorites': ...  ...  {'tweet_id': 666020888022790149, 'favorites': ...

[1 rows x 2331 columns]